#file .\asn\dbms.asn

[SETTINGS]
$putmess_logfile      = .\log\wasv_%p.log
$search_resources     = resources_only
$js_base_url          = ../dspjs
$test_mode_components
$variation 		 UODC

[RESOURCES]
.\bin

usys:uidf.uar
usys:usys.uar
usys:usysicon.uar
usys:udbg.uar


[FILES]
*.log		    .\log\*.log

[LOGICALS]
